
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/

###> ecommerce-custom ###
/public/uploads/
/public/uploads/receipts/
/public/uploads/logo/
/*.sql*
/*.gz
/.env.test
/tests/_output/
/tests/_support/_generated/
###< ecommerce-custom ###
