{% extends 'base.html.twig' %}

{% block body %}
    <h1>404 Página no encontrada</h1>

    <p>
        La página solicitada no se encuentra :( <br>
        <a href="{{ path('home') }}">Volver al inicio</a>.
    </p>
{% endblock %}
