{% extends 'base.html.twig' %}

{% block body %}

<div class="my-5 py-5 text-center">
    <span class="fs-1">💥</span>
    <h1 class="display-6 fw-bold">La página solicitada no se encuentra, verifique la URL solicitada</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-muted">{{ status_code }} Página no encontrada</p>
        <a href="{{ path('home') }}">Volver al inicio</a>
    </div>
</div>

{% endblock %}