{% extends 'base.html.twig' %}

{% block title %}Mi pedido - empresa{% endblock %}

{% block body %}
    <h2 class="mt-5">Cancelación de su pedido</h2>
    <p>
        Hola <b>{{order.user.firstname}}</b>, Su pago para el pedido n° <b>{{order.reference}}</b> no se ha completado.
    </p>
    <hr>
    <a class="btn btn-outline-success" href="{{ path('order') }}">Reintentar</a>
{% endblock %}