{% extends 'base.html.twig' %}

{% block title %}Mi pedido - empresa{% endblock %}

{% block body %}
    <h2>Cancelación de su pedido</h2>
    <p>
        Hola {{order.user.firstname}} {{order.user.lastname}}, <br>
        Su pago para el pedido n° <b>{{order.reference}}</b> no se ha completado.<br>
    </p>
    <hr>
    <a class="btn btn-outline-success" href="{{ path('order') }}">Reintentar</a>
{% endblock %}