{# templates/admin/fields/banner_image.html.twig #}
{% set imageValue = field.value ?: entity.instance.image|default(null) %}

{% if imageValue %}
    <div class="d-inline-block">
        <a href="{{ asset('uploads/' ~ imageValue) }}" target="_blank">
            <img src="{{ asset('uploads/' ~ imageValue) }}" 
                 class="ea-img-preview" style="width: 100px; height: auto;">
        </a>
    </div>
{% else %}
    <span class="ea-modern-badge" style="background: #f1f5f9; color: #64748b;">Sin imagen</span>
{% endif %}
